/* Tuş takımını ızgara yapısına dönüştürür. */
.keypad {
    display: grid;
    /* 4 eşit sütuna böler. */
    grid-template-columns: repeat(4, 1fr);
    /* Satır yüksekliğini belirler. */
    grid-auto-rows: minmax(60px, auto);
}

/* Metin girişi elemanlarının stili */
input[type="text"] {
    height: 75px;
    width: 249px;
    background-color: black;
    border: 0px;
    color: aliceblue;
    /* Metni sağa hizalar. */
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    /* Yatayda taşma olursa kaydırma çubuğunu ekler. */
    overflow-x: scroll;
}

/* "Clear" butonunun stili */
#clear {
    grid-column: 1/3;
    grid-row: 1;
    color: crimson;
}

/* "=" butonunun stili */
#result {
    grid-column: 3/5;
    grid-row: 5;
    color: crimson;
}

/* "C" butonunun stili */
#backspace {
    color: black;
}

/* Tüm butonların genel stili */
button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: aquamarine;
    font-weight: 500;
}

/* Öne çıkan butonların rengini belirler. */
.highlight {
    color:darkgoldenrod;
}
